* {
  margin: 0;
  padding: 0;
}
.big {
  /* background-color: rgb(169, 134, 134); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big .s1 {
  position: relative;
  /* background-color: rgb(169, 134, 134); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* position: relative; */
}
.big .s2 {
  z-index: 1;
  /* background-color: rgb(82, 43, 43); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
